
.viewjarallax
{
    background-image: url("https://www.jewelstore.nl/img/cms/Homepage/2022-jpg/SSCollection%20header_FW22.png");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
