
.viewjarallax
{
    background-image: url("https://cdn.shopify.com/s/files/1/0278/8887/7638/files/818118181815_61e79c5d-4e06-4444-ab73-efb8b74af89b.jpg?v=1613790317");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
